#disqus_thread #dsq-content {
  position: relative;
}

#disqus_thread #dsq-content .dsq-comment {
  border-bottom: 1px solid #DEDEDE;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#disqus_thread .dsq-comment-header {
  font-size: 1.25em;
  border: none;
  background-image: none;
  margin: 0;
  height: 22px;
  padding: 10px 0;
}

#disqus_thread .dsq-collapsed-count, #disqus_thread .dsq-collapse {
  display: none;
}

#disqus_thread #dsq-content .dsq-avatar {
  position: relative;
  float: left;
}

#adisqus_thread .dsq-comment-body {
  padding: 0;
}

#disqus_thread .dsq-comment-message {
  margin-bottom: 0;
}

#disqus_thread .dsq-comment-footer {
  position: absolute;
  right: 0;
  top: 7px;
  width: 270px;
  font-family: helvetica, arial, clean, sans-serif;
}

#disqus_thread .dsq-comment-footer .dsq-comment-actions li {
  margin: 0 0 0 12px;
}

#disqus_thread .dsq-comment-footer .dsq-comment-reply {
  display: none;
}

#disqus_thread #dsq-sort-by {
  display: none;
}

#disqus_thread #dsq-footer {
  display: none;
}

#disqus_thread #dsq-content #dsq-global-toolbar {
  left: 200px;
  position: absolute;
  top: 0px;
  margin: 0;
}

#disqus_thread #dsq-global-toolbar .dsq-global-toolbar-right {
  display: none;
}

#disqus_thread h3 {
  font-size: 1.125em;
}