/*--------------------- Layout -----------------------*/
html {
  background-color: #fff;
}

body {
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, FreeSerif, serif;
  color: #333;
  font-size: 1em;
  line-height: 1.5em;
  color: #252519;
  margin: 0; padding: 0;
}

#container {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

#footer {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding: 10px 0;
  color: #666;
  line-height: 1.785em;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 0.875em;
}

#footer span {
  height: 25px;
  display: block;
}

#footer a, #footer a:visited {
  color: #666;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

#footer strong {
  font-weight: bold;
}

ul, ol {
  list-style: disc outside none;
  padding-left: 20px;
  color: #333;
  margin-bottom: 15px;
}

ol {
  list-style: decimal outside none;
}

/*--------------------- Typography -----------------------*/

a, a:visited {
  color: #d11e27;
}

a:hover {
  text-decoration: none;
}
  
p {
  margin: 0 0 15px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px 0 15px 0;
}

h1 {
  margin: 40px 0 45px 0;
  font-size: 2.5em;
  line-height: 1.3em;
}

h1 span {
  font-size: 0.4em;
  color: #666;
  margin-left: 15px;
  display: inline-block;
}

h1 a {
  text-decoration: none;
  opacity: 0.4;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}

h1 a:hover {
  opacity: 1;
}

h2 {
  margin: 30px 0 20px 0;
  font-size: 1.5em;
  line-height: 1.3em;
}

h2 a {
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
  opacity: 0.6;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}

h2 a:hover {
  opacity: 1;
}

#footer a {
  margin: 0 3px;
  opacity: 0.5;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.3s;
     -moz-transition-timing-function: ease-out;
}

#footer a:hover {
  opacity: 1;
}