pre, tt, code {
  font-family: Monaco, Consolas, "Lucida Console", monospace;
}

code {
  font-size: 0.75em;
  line-height: 1.3em;
  background-color: #F5F5FF;
  padding: 0 2px;
  border: 1px solid #d0d0ee;
}

pre code {
  background-color: transparent;
  padding: 0;
  border: none;
  padding: 3px 0 3px 15px;
  border-left: 5px solid #d0d0ee;
  color: #444466;
  display: block;
}

pre {
  margin: 15px 0;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 1.15em;
}

/* terminal colors **/
code.bash {
  background-color: #073642;
  color: #839496;
  padding: 8px 15px;
  margin: 20px auto;
  border: 0;
  line-height: 1.4em;
  width: 690px;
  border: 8px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

.list {
  list-style: none;
  padding: 0;
}

.software li, .posts li {
  clear: both;
}

.software a {
  float: left;
  width: 120px;
}

.posts span {
  float: left;
  width: 110px;
}

ul.categories {
  list-style: none;
  padding-left: 30px;
  margin: -45px 0 30px 0;
  height: 30px;
}

.categories li {
  float: left;
  margin-right: 5px;
}

.categories li a {
  color: white;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background: #999;
          border-radius: 3px;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 8px;
}

.categories li a:hover {
  background: #666;
}


#post {
  clear: left;
  padding-bottom: 15px;
  border-bottom: 1px solid #999;
}

#post h1 {
  font-size: 1.5em;
  margin: 30px 0 15px;
}

#post h2 {
  font-size: 1.125em;
  font-weight: bold;
  margin: 30px 0 10px;  
}

#post h3 {
  margin: 15px 0;
  font-size: 1em;
}

#post ol, #post ul {
  margin-left: 15px;
}

#post strong {
  font-weight: bold;
  color: #000;
}

#post .back {
  margin-top: 30px;
}

#post img {
  display: block;
  margin: 30px auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 8px;
}
