/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 14px; line-height: 1.4; }

body, button, input, select, textarea {
  font-family: verdana, geneva, sans-serif;
}

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #447bd3; color: #fff; text-shadow: none; }
::selection { background: #447bd3; color: #fff; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #310E40; }
a:visited { color: #310E40; }
a:hover { color: #731115; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #999; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: Monaco, Consolas, "Lucida Console", monospace; _font-family: 'courier new', monospace; font-size: 0.75em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; font-size: 1em; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: Rafael de Oleza
   ========================================================================== */


#header {
  background-image: url(../gfx/site/header.png);
  background-repeat: no-repeat;
  height: 140px;
  width: 960px;
  margin: 0 auto;
  position: relative;
}


#logo a {
  background-image: url(../gfx/site/header-gatillo-2.png);
  background-repeat: no-repeat;
  background-position: 21px 12px;
  height: 144px;
  width: 160px;
  position: absolute;
  opacity: 0.9;
}

#logo a:hover {
  opacity: 1;
}

#logo-2 a {
  background-image: url(../gfx/site/header-monkey.png);
  background-repeat: no-repeat;
  background-position: 21px 6px;
  height: 144px;
  width: 160px;
  right: 140px;
  position: absolute;
  opacity: 0.9;
}

#header .title {
  position: absolute;
  margin-top: 10px;
  margin-left: 160px;
  font-family: Sunshiney, helvetica, arial, clean, sans-serif;
  font-size: 6em;
}

#header .subtitle {
  position: absolute;
  margin-top: 86px;
  margin-left: 160px;
  font-family: Sunshiney, helvetica, arial, clean, sans-serif;
  font-size: 1.5em;
}

#subscribe h3 {
  margin-bottom: 16px;
  font-family: Sunshiney, helvetica, arial, clean, sans-serif;
}

/** blog header overlaps previous div */
#blog_header {
  background-image: url(../gfx/site/gatillo-con-linea.png);
  background-repeat: no-repeat;
  height: 168px;
  width: 960px;
  margin: -36px auto;
  position: relative;
  pointer-events: none;
}

/** align header text at the bottom, with the cat image */
#blog_header h2 {
  position: absolute;
  bottom: 0;
  left: 0;
}

#latest_posts {
  margin-top: 48px;
  margin-bottom: 60px;
}

.navigation {
  font-family: Gochi Hand;
  font-size: 32px;
  height: 40px;
}

.navigation a {
  text-decoration: none;
  color: #310e40;
  opacity: 0.8;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}

.navigation a:hover {
  opacity: 1;
}


.navigation a.disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.3;
}


.navigation .first {
  background: url("../gfx/site/first.png");
  background-position: 0px 4px;
  background-repeat: no-repeat;
  margin-left: 100px;
  height: 48px;
  width: 100px;
  display: block;
  position: absolute;
  text-indent: 36px;
}

.navigation .previous {
  background: url("../gfx/site/previous.png");
  background-position: 0px 4px;
  background-repeat: no-repeat;
  margin-left: 214px;
  height: 48px;
  width: 144px;
  display: block;
  position: absolute;
  text-indent: 29px;
}

.navigation .last {
  background: url("../gfx/site/last.png");
  background-position: 0px 4px;
  background-repeat: no-repeat;
  right: 124px;
  height: 48px;
  width: 100px;
  display: block;
  position: absolute;
  text-indent: 8px;
}

.navigation .next {
  background: url("../gfx/site/next.png");
  background-position: 0px 4px;
  background-repeat: no-repeat;
  right: 232px;
  height: 48px;
  width: 100px;
  display: block;
  position: absolute;
}

ul {
  list-style-type: none;
}

body {
  background-image: url(../gfx/site/gatillos_bg.png);
  background-position: center top;
}

#container {
  position: relative;
  width: 928px;
  margin: 0px auto;
  padding: 0px 16px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 4px 4px #351f3e;
  margin-bottom: 10px;
  padding-top: 2px;
}

footer {
  border-top: 1px solid #999;
  margin-top: 30px;
  padding: 10px 0;
  color: #666;
  line-height: 1.785em;
  font-family: helvetica, arial, clean, sans-serif;
  font-size: 0.875em;
}

footer a {
  margin: 0 3px;
}

footer span {
  float: right;
}

#boilerplate {
  font-size: 0.7em; 
  font-style: italic;
}


@font-face {
  font-family: ArtistsAlleyBB_bold;
  src: url('../gfx/site/ArtistsAlleyBB_bold.otf');
}


h1, h2, h3 {
  font-family: Gochi Hand, Sunshiney, helvetica, arial, clean, sans-serif;
  text-color: #2D1A21;
  margin-bottom: 0px;
  margin-top: 0px;
  line-height: 1;
}

h1 {
  font-weight: 200;
  font-size: 4em;
  text-indent: -30px;
  padding-left: 30px;
}

/* for date */
small {
  font-size: 0.6em;
  color: #c1a2ce;
  margin-left: 8px;
}

h2 {
  font-size: 2.5em;
  font-weight: 200;
}

h3 {
  font-size: 2em;
}

h1 a, h2 a, h3 a {
  text-decoration: none;
  text-color: #2D1A21;
}

h1 a, h2 a, h3 a, h1 a:visited, h2 a:visited, h3 a:visited {
  text-decoration: none;
  color: #2D1A35;
}

h1 img, h2 img, h3 img {
  vertical-align: bottom;
}

/* Post styles */

.post .post_title {
  padding-top: 12px;
}

.post {
  clear: left;
  padding-left: 4px;
  padding-right: 20px;
}

.post img {
  display: block;
  margin: 10px auto 20px auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 8px;
}

.post .comic_image {
  text-align: center;
}

.post .comments_link {
  float: left;
  padding-right: 8px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.post .comment_count {
  font-size: 0.8em; 
  text-decoration: none;
  font-style: italic;
}

.post .comment_count a {
  text-decoration: none;
}

.post .date {
  float: left;
  padding-right: 8px;
  color: #BDA9C6;
}

.post .post-image-caption {
  text-align: center;
  margin-top: -22px;
  margin-bottom: 12px;
  font-size: 0.9em;
  opacity: 0.6;
}

.post .main {
  margin-bottom: 24px;
}

#older_posts a {
  text-decoration: none;
}

.archive .post .post_title {
  padding-top: 30px;
}

.archive .post .comments_link {
  margin-top: -20px;
  margin-right: 50px;
  float: right;
 
}

/* Post preview styles (list of posts on home page) */
.post_preview {
  clear: left;
}

.post_preview h1 {
  font-size: 1.5em;
  text-indent: 0;
  padding-left: 0;
}

.post_preview h2 {
  font-size: 1.125em;
  font-weight: bold;
}

.post_preview h3 {
  font-size: 1em;
}

.post_preview img {
  display: block;
  margin: 30px auto;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 8px;
}


/** Code styles **/
code {
  background-color: #F5F5FF;
  padding: 0 2px;
  border: 1px solid #d0d0ee;
}

pre code {
  background-color: transparent;
  border: none;
  padding: 3px 0 3px 15px;
  border-left: 5px solid #d0d0ee;
  color: #444466;
  display: block;
}

/* terminal colors **/
code.bash {
  background-color: #073642;
  color: #839496;
  padding: 8px 15px;
  margin: 20px auto;
  border: 0;
  width: 690px;
  border: 8px solid #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}

/* Helper classes */
.fadedlink {
  opacity: 0.4;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
     -moz-transition-property: opacity;
     -moz-transition-duration: 0.2s;
     -moz-transition-timing-function: ease-out;
}

.fadedlink:hover {
  opacity: 1;
}

/** Tags in post page **/
.post_tags {
  margin: -18px 0 30px 30px;
}

nav li {
  float: right;
  margin-right: 5px;
}

nav li a {
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  background: #999;
          border-radius: 3px;
     -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 3px 8px;
}

nav li a:visited, nav li a:active {
  color: #fff;
}

nav li a:hover {
  background: #666;
  color: #fff;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 750px) {
  #container {
  }

  h1 {
  }

  h1 small {
  }

  nav {
  }

  .post img {
  }

  code.bash {
  }
}

@media only screen and (max-width: 480px) {
  h1 {
  }

  h1 small {
  }

  h2, .post h1 {
  }

  nav {
  }

  ul, ol {
  }
}

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
