---
layout: default
---
<head>
  <h1>{{ site.title }}</h1>
</head>

<h2><span>Latest comic</span> <a class="fadedlink" href="http://feeds.feedburner.com/{{ site.feedburner_id }}" title="RSS feed"><img src="gfx/rss.png" alt="RSS feed"/></a></h2>
<ul>
 {% for post in site.categories.comic limit:1 %}
   {% include comic_post.html %}
 {% endfor %}
</ul>

<h2><span>Latest blog entries</span></h2>
<ul>
  {% for post in site.categories.blog limit:5 %}
    {% include post_preview.html %}
  {% endfor %}
</ul>

<h2><span>Older blog entries</span></h2>
<ul>
  {% for post in site.categories.blog limit:10 offset:5 %}
    {% include post.html %}
  {% endfor %}
</ul>
<a href="{{ site.baseurl }}/blog.html">See all blog entries</a>

