---
layout: default
---

<div id="subscribe">
  <h3><a class="fadedlink" href="http://feeds.feedburner.com/{{ site.feedburner_id }}" title="RSS feed"><img src="{{ site.baseurl }}/gfx/site/rss.png" alt="RSS feed"/>Subscribe</a></h3>
</div>

<div id="last_comic">
   {% for post in site.categories.comics limit:1 %}
     {{ post.images }}

     {% include comic_post.html %}
     {% if post.previous %}
       <a href="{{ site.baseurl }}/{{ post.previous.url }}">Previous</a>
     {% endif %}
   {% endfor %}
</div>

<div id="blog_header">
  <h2><a href="{{ site.baseurl }}/blog"><span>Latest blog entries</span></a></h2>
</div>

<div id="latest_posts">
  <ul>
    {% for post in site.categories.blog limit:4 %}
      {% include post_preview.html %}
    {% endfor %}
  </ul>
</div>

<div id="older_posts">
  <h2><a href="{{ site.baseurl }}/blog"><span>Older blog entries</span></a></h2>
  <ul>
    {% for post in site.categories.blog limit:15 offset:4 %}
      {% include post.html %}
    {% endfor %}
  </ul>
  <a href="{{ site.baseurl }}/blog">See all blog entries</a>
</div>
