---
layout: default
---

<header>   
  <h1><a class="fadedlink" href="{{ site.baseurl }}/" title="Home">gatillos &laquo;</a> {{ page.title }} archive</h1>
</header>

<nav>
  <ul class="clearfix">
  {% for category in page.categories %}
  <li><a href="{{ site.baseurl }}/tag/{{ category }}.html">{{ category }}</a></li>
  {% endfor %}
  </ul>
</nav>

<div class="archive">

  {% for post in paginator.posts %}
    {% assign render_navigation_above = false %}
    {% assign render_navigation_below = false %}
    {% assign render_comments = false %}
    {% if post.categories[1] != 'lifeinterior' %}
      {% assign render_title_above = true %}
      {% assign render_title_below = false %}
      {% assign render_comment_count = true %}
    {% else %}
      {% assign render_title_above = false %}
      {% assign render_title_below = false %}
    {% endif %}
    {% if post.categories[0] == 'blog' %}
      {% assign render_content = true %}
    {% else %}
      {% assign render_content = false %}
    {% endif %}
    {% include a_comic.html %}
  {% endfor %}

</div>

{% if paginator.total_pages > 1 %}
<nav class="pagination">
    
    {% if paginator.previous_page %}
        {% if paginator.previous_page == 1 %}
            <span class="prev"><a href="{{ site.baseurl }}/{{paginator.posts[0].categories[0]}}/" rel="prev">&laquo; Prev</a></span>
        {% else %}
            <span class="prev"><a href="{{ site.baseurl }}/{{paginator.posts[0].categories[0]}}/page{{paginator.previous_page}}" rel="prev">&laquo; Prev</a></span>
        {% endif %}
    {% endif %}
    
    {% for page in (1..paginator.total_pages) %}
    
        {% if page == paginator.page %}
            <span class="page current">{{ page }}</span>
        {% else %}
            {% if page == 1 %}
                <span class="page"><a href="{{ site.baseurl }}/{{paginator.posts[0].categories[0]}}/">{{ page }}</a></span>
            {% else %}
                <span class="page"><a href="{{ site.baseurl }}/{{paginator.posts[0].categories[0]}}/page{{page}}">{{ page }}</a></span>
            {% endif %}
        {% endif %}
    
    {% endfor %}

    {% if paginator.next_page %}
        <span class="next"><a href="{{ site.baseurl }}/{{paginator.posts[0].categories[0]}}/page{{paginator.next_page}}" rel="next">Next &raquo;</a></span>
    {% endif %}
    
</nav>
{% endif %}
