<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.title }} - {{ site.description }}">
  <meta name="author" content="{{ site.author }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="http://feeds.feedburner.com/{{ site.feedburner_id }}" rel="alternate" title="{{ site.title }}" type="application/atom+xml">
  <link rel="author" href="/humans.txt">

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro:300,400' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/disqus.css">

  <script src="/js/libs/modernizr-2.0.6.min.js"></script>
</head>

<body>
  <div id="container">

    {{ content }}

    <footer>
      <span>{{ site.author }} &mdash; {{ site.author_short }}</span>
      <a class="fadedlink" href="https://github.com/{{ site.author_short }}"><img src="/gfx/github-logo.png" alt="@github"></a>
      <a class="fadedlink" href="https://twitter.com/{{ site.author_short }}"><img src="/gfx/twitter-logo.png" alt="@twitter"></a>
      <a class="fadedlink" href="http://linkedin.com/in/{{ site.author_short }}"><img src="/gfx/linkedin-logo.png" alt="@linkedin"></a>
      <a class="fadedlink" href="mailto:{{ site.author_email }}"><img src="/gfx/gmail-logo.png" alt="@gmail"></a>
    </footer>
  </div>

  <script>
    window._gaq = [['_setAccount','{{ site.analytics_ua }}'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
