<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>{{ page.title }}</title>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="author" content="Rafael de Oleza" />
    <link href="http://feeds.feedburner.com/rafeca" rel="alternate" title="Thoughts by rafeca" type="application/atom+xml" />
     
    <link rel="stylesheet" media="all" href="/css/reset.css" />
    <link rel="stylesheet" media="all" href="/css/layout.css" />
    <link rel="stylesheet" media="all" href="/css/main.css" />
    <link rel="stylesheet" media="all" href="/css/syntax.css" />
    <link rel="stylesheet" media="all" href="/css/disqus.css" />
    
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-6212472-4']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
  </head>
  
  <body>
    <div id="container">
      {{ content }}
      <div id="footer">
          <span>Rafael de Oleza &mdash; rafeca</span>
          <a href="https://github.com/rafeca"><img src="/gfx/github-logo.png" alt="@github"></a>
          <a href="https://twitter.com/rafeca"><img src="/gfx/twitter-logo.png" alt="@twitter"></a>
          <a href="http://linkedin.com/in/rafeca"><img src="/gfx/linkedin-logo.png" alt="@linkedin"></a>
          <a href="mailto:rafeca@gmail.com"><img src="/gfx/gmail-logo.png" alt="@gmail"></a>
      </div>
    </div>
  </body>
</html>